In [89]:
import numpy as np 
import pandas as pd

In [90]:
#loading the data
workshop_data = pd.read_csv("C:/Users/abhin/OneDrive/Documents/workshop.csv")
students_data = pd.read_csv("C:/Users/abhin/Documents/students_data.csv")

In [91]:
workshop_data.head()

,title,tags
0,Introduction to Artificial Intelligence,"AI, Machine Learning, Computer Science"
1,Deep Dive into Robotics,"Robotics, Engineering, AI"
2,Data Science for Beginners,"Data Science, Statistics, Machine Learning"
3,Understanding Blockchain Technology,"Blockchain, Technology, Cryptocurrency"
4,Mastering Python for Data Science,"Python, Data Science, Programming"

In [92]:
students_data.head()

,Name,Registration Number,Interests,Branch
0,Quincy Brown,230902858,"Physics, Programming",BIOTECH
1,Quincy Taylor,230908115,Physics,BIOMED
2,Alice Martinez,230903311,Statistics,CPS
3,Nathan Miller,230902604,"Python, AIML, Quantum Computing, Cryptocurrenc...",ENI
4,Jane Johnson,230905194,"Engineering, Quantum Computing, Robotics",CIVIL

In [93]:
#concatinating branch and interests fields
students_data['Branch_Interests'] = students_data['Branch'] + ', ' + students_data['Interests']

In [94]:
students_data.head()

,Name,Registration Number,Interests,Branch,Branch_Interests
0,Quincy Brown,230902858,"Physics, Programming",BIOTECH,"BIOTECH, Physics, Programming"
1,Quincy Taylor,230908115,Physics,BIOMED,"BIOMED, Physics"
2,Alice Martinez,230903311,Statistics,CPS,"CPS, Statistics"
3,Nathan Miller,230902604,"Python, AIML, Quantum Computing, Cryptocurrenc...",ENI,"ENI, Python, AIML, Quantum Computing, Cryptocu..."
4,Jane Johnson,230905194,"Engineering, Quantum Computing, Robotics",CIVIL,"CIVIL, Engineering, Quantum Computing, Robotics"

In [95]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#creating a TfidfVectorizer object
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(workshop_data['tags'])

#transforming user data
user_tfidf_matrix = tfidf.transform(students_data['Branch_Interests'])

#calculating cosine similarity
cosine_sim = cosine_similarity(user_tfidf_matrix, tfidf_matrix)

In [96]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

# Apply stemming to workshop tags and student interests to standardize word forms
# Stemming reduces words to their root form (e.g., "programming" -> "program"),
# ensuring uniformity across the tags and interests. This helps improve matching
# between workshops and student preferences by handling variations in phrasing
# (e.g., "computing" vs. "compute").

workshop_data['tags'] = workshop_data['tags'].apply(lambda x: ' '.join([stemmer.stem(word) for word in x.split()]))
students_data['Branch_Interests'] = students_data['Branch_Interests'].apply(lambda x: ' '.join([stemmer.stem(word) for word in x.split()]))

In [97]:
# For each student, get the top-k workshops (e.g., k=3)
top_k = 3
recommendations = []

for student_idx in range(cosine_sim.shape[0]):
    # Get sorted indices of workshops based on similarity
    similar_workshops = cosine_sim[student_idx].argsort()[::-1][:top_k]
    recommendations.append(workshop_data.iloc[similar_workshops]['title'].values)

In [98]:
#code for popular workshops

In [99]:
students_data['Recommended_Workshops'] = recommendations

In [100]:
students_data.to_csv('student_recommendations.csv', index=False)